extends layout


block content
  h1= pagetitle
  p Welcome to #{pagetitle}
  table.table
    tr
      th Week
      th Sunday
      th Monday
      th Tuesday
      th Wednesday
      th Thursday
      th Friday
      th Saturday
      th Total Hours

    each row in data
      tr
        td=row[0]
        td=row[1]
        td=row[2]
        td=row[3]
        td=row[4]
        td=row[5]
        td=row[6]
        td=row[7]
        td=row[8]
