extends layout

block content
  h1= title
  p Welcome to #{pagetitle}
  a(href='./') Index
  br


  #sunday='Sunday'
    h3=data.sunday
  #monday='Monday'
    h3=data.monday
  #tuesday='Tuesday'
    h3=data.tuesday
  #wednesday='Wednesday'
    h3=data.wednesday
  #thursday='Thursday'
    h3=data.thursday
  #friday='Friday'
    h3=data.friday
  #saturday='Saturday'
    h3=data.saturday
    
